.root {
  width: 66%;
  margin: 0 auto;
}

.title {
  font-size: 2.4rem;
}

.description {
  font-size: 1.6rem;
  margin: 8rem 0;
  text-align: center;
}

.dom {
  margin-bottom: 4rem;
}

.block {
  text-align: left;
  font-size: 1.6rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 1.6rem;
}

.listItem {
  font-size: 1.6rem;
}

.link {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}

@media (max-width: 992px) {
  .root {
    width: 100%;
  }
}
