@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

body::before {
  content: ' ';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 75%, rgba(0, 0, 0, 0.2) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 100;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 2rem 0 4rem;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

main {
  width: 66%;
  max-width: 1280px;
  margin: -256px auto 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

main > div {
  display: contents;
}

footer {
  width: 66%;
  max-width: 1280px;
  margin-top: auto;
}

.container {
  width: 100%;
}

.slick-slider {
  width: 17rem;
  margin: 0 auto;
}

.slick-dots li.slick-active button::before {
  opacity: 1 !important;
}

.slick-dots li button::before {
  content: '' !important;
  display: block;
  background: #000;
  top: -0.2rem !important;
  left: 0.8rem !important;
  width: 0.6rem !important;
  height: 0.6rem !important;
  margin-top: 0.8rem;
}

.fade-in {
  opacity: 1;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation: fadeIn 1s;
  -moz-animation: fadeIn 1s; /* Firefox */
  -webkit-animation: fadeIn 1s; /* Safari and Chrome */
  -o-animation: fadeIn 1s; /* Opera */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 992px) {
  main {
    width: 100%;
    padding: 0 3.2rem;
    padding-top: 188px;
    margin: 0 auto;
  }

  footer {
    width: 100%;
    padding: 0 3.2rem;
  }
}
