.root {
  display: flex;
  align-items: center;
  height: 4rem;
  font-family: 'PressStart2P';
}

.logo {
  height: 4rem;
  width: 4rem;
}

.pathWrapper {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.pathPrefix {
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.telmo {
  font-size: 1.6rem;
}

.path {
  font-size: 1.6rem;
}

.rainbow {
  display: flex;
  width: 8rem;
  margin-top: 0.2rem;
}

.rainbow * {
  width: calc(100% / 6);
  height: 0.3rem;
}

@media (max-width: 992px) {
  .root {
    width: auto;
  }

  .tag {
    justify-content: center;
  }

  .path {
    display: none;
  }
}
