.root {
  width: 66%;
  margin: 0 auto;
}

.button {
  background: inherit;
  font-family: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 17.6rem;
  height: 6.4rem;
  margin: 4rem auto 12rem;
  color: #000;
  font-size: 1.6rem;
  text-transform: uppercase;
  line-height: 1.5;
  border: 0.4rem solid #000;
  text-align: center;
  transition: color 300ms, background-color 300ms;
  border-image-slice: 3;
  border-image-width: 3;
  border-image-outset: 2;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
}

.button:hover {
  color: #fff;
  background: #000;
  border-image-slice: 3;
  border-image-width: 3;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
}

.text {
  text-align: center;
  font-size: 1.6rem;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  margin-top: 8rem;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.projectAvatar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.projectLogo {
  height: 4rem;
  width: 4rem;
}

.projectName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.projectPrefix {
  font-size: 1rem;
  margin-bottom: 0.2rem;
  text-align: left;
}

.projectLabel {
  white-space: nowrap;
  font-size: 1.6rem;
  text-align: left;
}

.projectColor {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  width: 100%;
}

.projectColor * {
  height: 0.3rem;
  flex: 1 1;
}

.projectDescription {
  font-size: 1.6rem;
  max-width: 50%;
  text-align: right;
  margin-left: 1.6rem;
}

@media (max-width: 992px) {
  .root {
    width: 100%;
  }

  .button {
    margin-top: 12rem;
  }

  .portfolio {
    gap: 8rem;
  }

  .project {
    flex-direction: column;
  }

  .projectLabel {
    text-align: center;
  }

  .projectDescription {
    max-width: 100%;
    text-align: center;
    margin-left: 0;
  }
}

#morph {
  position: absolute;
  pointer-events: none;
  z-index: 200;
}
