@font-face {
  font-family: 'PressStart2P';
  font-style: normal;
  font-display: optional;
  src: url('/fonts/press-start-2p.woff2') format('woff2');
}

@font-face {
  font-family: 'SFPro';
  font-style: normal;
  font-display: optional;
  src: url('/fonts/sf-pro-display-regular.woff2') format('woff2');
}
