html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-size: 1.6rem;
}

li {
  text-decoration: underline;
}

p {
  margin: 0;
}
