.layout {
  display: grid;
  column-gap: 12rem;
  grid-template-columns: minmax(auto, 140px) 1fr;
  padding: 8rem 3.2rem;
}

.navigation {
  grid-column-start: 1;
}

.content {
  grid-column-start: 2;
}

.backLink {
  display: none;
}

.tableContents {
  margin-top: 2.4rem;
}

.tableContentsLabel {
  font-size: 1.6rem;
}

.links {
  padding-left: 2.4rem !important;
}

.anchor {
  font-size: 1.6rem;
}

.name {
  font-weight: bold;
  font-size: 4rem;
  margin: 0 0 0.8rem;
}

.job {
  font-size: 2.4rem;
  margin: 0 0 4rem;
}

.intro {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.description {
  border-left: 0.4rem solid #000;
  padding: 0 0 0 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.6rem;
}

.contact {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.link {
  font-weight: bold;
  text-decoration: underline;
}

.languages {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 992px) {
  .layout {
    display: block;
    width: 100%;
    padding: 4rem 3.2rem 8rem;
  }

  .resume {
    margin-top: 4rem;
  }

  .navigation {
    display: none;
  }

  .backLink {
    display: block;
  }

  .intro {
    display: flex;
    flex-direction: column;
  }

  .contact {
    text-align: center;
  }
}
